body {
  background: #263238;
}

#app {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 3rem;
}

.character-card {
  border: 2px solid #b3ac44;
  border-radius: 4px;
  cursor: pointer;
}

.character-card:hover {
  box-shadow: 0px 3px 5px #dacf3d;
}